<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dynamically load MarkoJS components</title>
</head>
<body>
    <p>Loading ${data.componentId}...</p>

    <if(data.componentId=="foo")>
        <a href="/dynamic-loading-of-components?componentId=bar&color=red">Load Bar</a>
    </if>
    <else>
        <a href="/dynamic-loading-of-components?componentId=foo&color=green">Load Foo</a>
    </else>

    <load-component componentId=data.componentId data=data/>
</body>
</html>