<div class="outer-container">
    <app-top-bar on-menu( "menu")></app-top-bar>
    <app-drawer key="drawer"></app-drawer>

    <div class="container">
        <div class="editor-grid">

        </div>
    </div>
</div>