$ var getColor = function(color){
    return new Promise((resolve, reject) => {
        setTimeout(function() {
            resolve(color);
        }, 1000);
    });
}
<await(color from getColor(data.color))>
    <div class="asynccomp-component">
        <p>asynccomp's selected color: <span style="color:${color}">${color}</span></p>
    </div>
</await>
