<aside class="mdc-drawer mdc-drawer--temporary mdc-typography" key="temporary-drawer">
  <nav class="mdc-drawer__drawer">
    <header class="mdc-drawer__header">
      <div class="mdc-drawer__header-content">
        Header here
      </div>
    </header>    
  </nav>
</aside>