<lasso-page package-path="./browser.json" />

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example google material</title>
    <lasso-head/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
</head>

<body  style="padding:0;margin:0;">

    

   <app-main></app-main>
    
    <lasso-body/>
</body>

</html> 